[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
856653d = {editable = true,path = "./mezzanine"}
filebrowser-safe = {editable = true,path = "./filebrowser-safe"}
grappelli-safe = {editable = true,path = "./grappelli-safe"}

[requires]
python_version = "3.7"
